@import url(../css/normalize.css);
@import url(../css/settings.css);
body {
  margin: 0;
  padding: 0;
  background-image: url(../media/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  position: relative; }

video {
  width: 100%; }

.video {
  max-height: 100vh;
  height: 100%;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  object-position: center; }
  .video h2, .video h3 {
    position: absolute;
    border-left: 5px solid #F9AC14;
    padding-left: 15px;
    z-index: 5;
    left: 20%; }
  .video h2 {
    top: 35%; }
  .video .divider {
    height: 2px;
    width: 120px;
    position: absolute;
    z-index: 5;
    left: 22%;
    top: 50%;
    background-color: #F9AC14; }
  .video h3 {
    top: 50%;
    color: #F6F6F6; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  z-index: 5; }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 50%;
    align-items: center; }
    nav ul .lang-wrap {
      display: flex;
      flex-wrap: nowrap; }
  nav a {
    text-decoration: none;
    color: #F6F6F6; }
    nav a img {
      padding: 5px; }
    nav a .eng {
      padding-top: 8px; }
  nav a[href^="tel:"], nav a[href^="mailto:"] {
    padding: 5px;
    font-size: 25px; }

h2 {
  font-size: 46px; }

h3 {
  font-size: 35px; }

main {
  padding: 10px; }
  main h3, main h4, main h5 {
    text-align: center; }
  main h4 {
    font-size: 32px; }
  main li {
    list-style: disc; }
  main .img-wrapper {
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    max-height: 50vh;
    height: 100%;
    width: 100%;
    margin: 0 auto; }
    main .img-wrapper img {
      width: 100%; }
  main p, main li {
    font-size: 20px;
    color: #1a1a18;
    line-height: 150%;
    text-align: justify; }
  main ul, main li {
    list-style: disc; }
  main .clients {
    display: flex;
    background-color: #F9AC14;
    max-height: 100px;
    height: 100%; }
  main .client {
    display: flex !important;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden; }
    main .client img {
      margin: 10px 0 5px;
      height: 100%;
      max-height: 60px; }

footer {
  background-color: #00000099;
  width: 100%;
  font-size: 26px;
  line-height: 150%; }
  footer ul, footer li {
    list-style: none;
    padding: 0; }
  footer .footer-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  footer .contacts, footer .contact-form {
    box-sizing: border-box;
    max-width: 50%;
    padding: 10px; }
  footer form {
    display: flex;
    flex-direction: column;
    padding-top: 40px; }
    footer form input, footer form textarea {
      margin-bottom: 3px; }

@media (hover: hover) {
  a:hover,
  .submit:hover {
    color: #F9AC14;
    cursor: pointer; } }
@media screen and (max-width: 1141px) {
  .divider,
  .video h3 {
    display: none; } }
@media screen and (max-width: 771px) {
  footer .footer-wrapper {
    display: flex;
    flex-direction: column; }

  footer .footer-wrapper .contacts,
  footer .footer-wrapper .contact-form {
    max-width: 100%; } }
@media screen and (max-width: 430px) {
  nav {
    display: flex;
    flex-wrap: wrap; }

  .video h2,
  .logow {
    display: none; }

  .logo {
    display: block; } }
@media screen and (min-width: 431px) {
  .logo {
    display: none; } }

/*# sourceMappingURL=main.css.map */
