@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@500;700;900&display=swap');
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #F9AC14;
    text-transform: uppercase;
}
a, p, li {
    color: #fefefe;
    font-family: 'Roboto Condensed', sans-serif;

}


